@charset "utf-8";
/* CSS Document */
#content{
	position:absolute;
	min-height:700px;
	width:960px;
	top:190px;
	left:50%;
	margin-left:-480px;
	border:0px solid #ccc;
	background-color:rgba(0,0,0,.92);
	box-shadow: 0px 0px 10px #000;
	/*background-image:url(../wide/bg_80%25_black.png);*/
}

#header{
	position:relative;
	width:960px;
	height:150px;
	margin:0px auto 0px auto;
	background-image:url(../img/pokerirelandlogo.png);
    background-repeat: no-repeat;
}

.drop-block
{
    position: absolute;
    top:190px;
    left: 50%;
    margin-left: -400px;
    background-color: #111;
    border-radius: 7px;
    width: 200px;
    height: 100px;
    z-index: 100;
    display: none;
    font-size: 12px;
    padding-top: 10px;
}
.drop-blk-title
{
    width: 155px;
    margin-top: 0px;
    margin-left: 10px;
    background-color: transparent;
    padding: 0px 0px 10px 0px;
}

.drop-blk-title h3
{
    font-size: 15px;
    font-weight: bold;
    color: #09c;
    margin-top: 0;
    padding:0;
}
.drop-blk-title h3:hover
{
    cursor: pointer;
    color: #ccc;
}
.mask
{
    position: absolute;
    top: 0;
    z-index: 97;
    width: 100%;
    height: 600px;
    background-color:transparent;
    display: none;
}
.has-drop-down
{
    z-index: 98;
}
.has-drop-down:hover
{
    cursor: pointer;
}


.drop-block-liveupdate{
    height: 250px;
    width: 300px;
    margin-left: -78px;
}
.drop-block-liveupdate > .drop-blk-title{
    width: 270px;
}

/*******************************************************************************/
#social-media-share-btns
{
	position:absolute;
	bottom:30px;
	right:150px;
}
#logo_link
{
	width:250px;
	height:100px;
	border:0px solid #ccc;
	background-color:transparent;
	position:absolute;
	top:10px;
	left:50%;
	margin-left:-415px;
}
#header #logo_image{
	width:330px;
	height:120px;
	margin-left:40px;
}
#header_bt_container
{
	width:auto;
	height:auto;
	background-color:transparent;
	position:absolute;
	top:80px;
	left:50%;
	margin-left:50px;
	color:#ccc;
	border:0px solid #ccc;
}
.header_main_bt
{
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:12px;
	margin-left:0;
	padding:0 15px 0 15px;
	border-right:1px dotted #ccc;
	color:#CCC;
}
.header_main_bt:hover
{
	color:#09c;
	cursor:pointer;
}
#last_header_main_bt{border:0;}
#menu{
    position: relative;
	width:960px;
	height:40px;
	background-image:url(../img/menu_bg.png);
	background-repeat:repeat-x;
	background-color:transparent;
	margin:0px auto auto auto;
	
	/*-moz-box-shadow: 0px 0px 10px #000;-webkit-box-shadow: 0px 0px 10px #000;box-shadow: 0x 0px 10px #000;*/
}

.menu_title_page_active{
	height:26px;
	float:left;
	margin-left:43px;
	font-size:11px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight:bold;
	
	padding:0;
	margin-top:12px;
	border:0px solid red;
	text-decoration:none;
	color:#C00;
	background-image:url(../img/menu_title_bg.jpg);
	background-position:bottom center;
	background-repeat:repeat-x
}

.menu-title
{
    position: absolute;
    display: block;
    height: 29px;
    padding-left:15px;
    padding-right:15px;
    padding-top: 12px;
    z-index: 98;
    background-color: transparent;
    text-align: center;

    font-size:13px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight:bold;
}
.title_1{left: 30px;}
.title_2{
    left: 120px;
    padding-left: 20px;
    padding-right:20px;
}
.title_3{left: 210px;}
.title_4{left:410px;}
.title_5{left:430px;}
.title_6{left:540px;}
.title_7{left:640px;}
.menu_title:hover{
	cursor:pointer;
	color:#C00;
	background-image:url(../img/menu_title_bg.jpg);
	background-position:bottom center;
	background-repeat:repeat-x
}
#google_translate_element
{
    position: absolute;left: 760px;
    padding-top: 3px;
}